<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Hello World</h1>
<h2>First page with Spring</h2>
<table>
    <thead>
    <tr>
        <th>Make</th>
        <th>Model</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${cars.empty}">
        <td colspan="3">No cars in bdd</td>
    </tr>
    <tr th:each="car: ${cars}">

        <td><span th:text="${car.makeName}"> Make </span></td>
        <td><span th:text="${car.modelName}"> Model </span></td>
        <td> <a th:href="@{/deleteCar/{id}(id=${car.id})}">Delete Car</a></td>

    </tr>
    </tbody>
</table>

<form method="post" th:action="@{/saveCar}" th:object="${car}">
    <input type="text" th:field="*{modelName}">
    <input type="text" th:field="*{makeName}">
    <input type="text" th:field="*{horsePower}">
    <input type="text" th:field="*{retailPrice}">
    <button type="submit" c>create car</button>
</form>

</body>
</html>
